div {
    padding: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.svg-tag {
    width:40px;
    height: 40px;
    background-color: white;
    border: 2px solid green;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
}
button:hover svg{
    fill: red;
}
button.svg-tag:hover {
    border: 2px solid red;
    background-color: orange;
}
button svg {
    fill: green;
}